<footer>
  <a href="//github.com/ianmcdonald/xyzodiac">GitHub</a> / <a href="/api">API</a>
  <nav>
    <ul>
      <li><a href="/sign/aries">Aries</a></li>
      <li><a href="/sign/taurus">Taurus</a></li>
      <li><a href="/sign/gemini">Gemini</a></li>
      <li><a href="/sign/cancer">Cancer</a></li>
      <li><a href="/sign/leo">Leo</a></li>
      <li><a href="/sign/virgo">Virgo</a></li>
      <li><a href="/sign/libra">Libra</a></li>
      <li><a href="/sign/scorpio">Scorpio</a></li>
      <li><a href="/sign/sagittarius">Sagittarius</a></li>
      <li><a href="/sign/capricorn">Capricorn</a></li>
      <li><a href="/sign/aquarius">Aquarius</a></li>
      <li><a href="/sign/pisces">Pisces</a></li>
    </ul>
  </nav>
</footer>
<script src="/public/dist/js/main.js" async></script>
