<!DOCTYPE html>
<head>
  <link href="/public/dist/css/main.css" rel="stylesheet">
  <title><%= title %></title>
</head>
<body>
  <header class="text-center">
    <div>
      <a href="/" class="logo">XYZODIAC</a>
    </div>
  </header>
