<!DOCTYPE html>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1 user-scalable=no">
<meta name="description" content="Astrological app and api">
<link href="/public/dist/css/main.css" rel="stylesheet">  
<title><%= title %></title>
<body>
  <header class="text-center">
      <a href="/" class="logo">
        <svg viewBox="0 0 728.8 112.6">
          <g><polygon points="264,5 199,5 199,25 240.9,25 199,87.6 199,108 264,108 264,88 226.4,88 264,24.9"/><g><rect x="514.4" y="4.8" width="20" height="103.1"/></g><g><path d="M357.2,107.8h-35.1c-25.9,0-47-21.3-47-47.4v-8.3c0-26.1,21.1-47.4,47-47.4h35.1c25.9,0,47,21.3,47,47.4v8.3 C404.2,86.6,383.1,107.8,357.2,107.8z M322.1,25c-14.9,0-27,12.2-27,27.2v8.3c0,15,12.1,27.2,27,27.2h35.1c14.9,0,27-12.2,27-27.2 v-8.3c0-15-12.1-27.2-27-27.2H322.1z"/></g><path d="M455.5,5H416l0,0v42h20V25h19.5c14.9,0,23.5,9.1,23.5,24.2v8.3c0,15.1-8.7,30.5-23.5,30.5H416v20h39.5 c25.9,0,43.5-24.1,43.5-50.5v-8.3C499,22.9,481.4,5,455.5,5z"/><g><path d="M724.1,107.8h-35.1c-25.9,0-47-21.3-47-47.4v-8.3c0-26.2,21.1-47.4,47-47.4h35.1v20.2h-35.1 c-14.9,0-27,12.2-27,27.2v8.3c0,15,12.1,27.2,27,27.2h35.1V107.8z"/></g><polygon points="4.3,108 27.4,108 45.5,76.3 63.5,108 86.6,108 57,56.2 86.2,5 63.2,5 45.5,36 27.8,5 4.7,5 34,56.2"/><polygon points="647,108 588.1,5 565.1,5 599.6,66 549,66 549,108 569,108 569,86 611,86 623.9,108"/><polygon points="88.9,5 147.8,108 170.9,108 136.3,47 183,47 183,5 163,5 163,27 124.9,27 112.1,5"/></g>
        </svg>
      </a>
  </header>
