<% include ./partials/header.ejs %>
<section>
  <h2>Documentation</h2>
  <p>Full API documentation is coming soon, please hold tight until then.</p>
<h2>Usage</h2>
  <p>To make a request, you fetch information from <code>xyzodiac.com/api</code> by passing a query string. For example, to return the data from all signs that are associated with the element <em>fire</em>, the request would be: <code>https://xyzodiac.com/api?element=earth</code></p>
  <p>Using <code>fetch()</code> to create a resuable querying function:</p>
<pre>var zodiacData = {};

function fetchData(queryString) {
  fetch('https://xyzodiac.com/api?name=leo')
    .then(response => {
      if (response.status >= 200 && response.status < 300) {  
        return Promise.resolve(response)  
      } else {  
        return Promise.reject(new Error(response.statusText))  
      }  
    })
    .then(response => response.json())
    .then(data => window.zodiacData = data[0])
    .catch(err => console.error(err));
}

fetchData('name=aries');
zodiacData.symbol // => "Ram"
    
</pre>
<h2>Options</h2>
<p>There are several different parameters that can be used in a query string to return results.</p>
  <table>
    <tbody>
      <tr>
        <th>Params</th>
        <th>Values</th>
      </tr>
      <tr>
        <td>Name</td>
        <td>Aries, Taurus, Gemini, Cancer, Leo, Virgo, Scorpio, Sagittarius, Capricorn, Aquarius, Pisces</td>
      </tr>
      <tr>
        <td>Element</td>
        <td>Water, Fire, Earth, Air</td>
      </tr>
      <tr>
        <td>Ruler</td>
        <td>Mercury, Mars, Jupiter, Saturn, Neptune, Uranus, Sun, Moon</td>
      </tr>
      <tr>
        <td>Quality</td>
        <td>Fixed, Cardinal, Mutable</td>
      </tr>
      <tr>
        <td>Symbol</td>
        <td>Ram, Bull, Twins, Crab, Lion, Virgin, Scales, Scorpion, Archer, Sea-goat, Water-bearer, Fish</td>
      </tr>
    </tbody>
  </table>
  <p>This is an open source project. You are free to use it and encouraged to contribute to it. To help complete these docs, please <a href="https://github.com/ianmcdonald/xyzodiac">fork the project</a> and submit a pull request.</p>
</section>
<% include ./partials/footer.ejs %>
