<% include ./partials/header.ejs %>
<div class="home-big-img">
  <svg viewBox="0 0 780 780">
    <g class="astro-wheel">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-123.000000, -121.000000)">
          <g transform="translate(125.000000, 123.000000)">
            <circle id="Outer-ring" stroke="#4169E1" stroke-width="6" fill="#FFFFFF" cx="388.663872" cy="388.089654" r="387.160156"></circle>
            <g id="Lines" transform="translate(0.000000, 1.000000)" stroke="#4169E1" stroke-width="4" stroke-linecap="square">
              <path d="M387,0.5 L387,773.5" id="Line"></path>
              <path d="M387,0.5 L387,773.5" id="Line" transform="translate(387.000000, 387.000000) rotate(-270.000000) translate(-387.000000, -387.000000) "></path>
              <path d="M387,0.5 L387,773.5" id="Line" transform="translate(387.000000, 387.000000) rotate(-240.000000) translate(-387.000000, -387.000000) "></path>
              <path d="M387,0.5 L387,773.5" id="Line" transform="translate(387.000000, 387.000000) rotate(-210.000000) translate(-387.000000, -387.000000) "></path>
              <path d="M387,0.5 L387,773.5" id="Line" transform="translate(387.000000, 387.000000) rotate(-150.000000) translate(-387.000000, -387.000000) "></path>
              <path d="M52.2811814,580.25 L721.718819,193.75" id="Line"></path>
            </g>
            <g id="Rings" transform="translate(159.000000, 158.000000)" stroke="#4169E1" stroke-width="4">
              <circle id="Inner-ring1" fill="#FFFFFF" cx="229.663872" cy="230.089654" r="229.253859"></circle>
              <a href="/signs">
                <circle id="Inner-ring2" fill="#4169E1" stroke="none" cx="229.663872" cy="230.089654" r="102.072635"></circle>
              </a>
            </g>
            <a href="/sign/aries">
              <g id="Aries" transform="translate(230.000000, 14.000000)">
                <circle fill="#FFFFFF" cx="77" cy="76.8242188" r="76.5517578"></circle>
                <text id="♈︎" transform="translate(59.500000, 78.363281) rotate(-15.000000) translate(-59.500000, -78.363281) " font-family="ArialUnicodeMS, Arial Unicode MS" font-size="100" font-weight="normal" fill="#4169E1">
                  <tspan x="31.5" y="118.363281">♈︎</tspan>
                </text>
              </g>
            </a>
            <a href="/sign/taurus">
              <g id="Taurus" transform="translate(389.000000, 14.000000)">
                <circle fill="#FFFFFF" cx="77.5" cy="76.78125" r="76.5517578"></circle>
                <text id="♉︎" transform="translate(68.736507, 72.843750) rotate(15.000000) translate(-68.736507, -72.843750) " font-family="ArialUnicodeMS, Arial Unicode MS" font-size="100" font-weight="normal" fill="#4169E1">
                  <tspan x="40.7365073" y="112.84375">♉︎</tspan>
                </text>
              </g>
            </a>
            <a href="/sign/gemini">
              <g id="Gemini" transform="translate(528.000000, 90.000000)">
                <circle fill="#FFFFFF" cx="77.2597656" cy="80.09375" r="76.5517578"></circle>
                <text id="♊︎" transform="translate(74.259766, 67.312500) rotate(45.000000) translate(-74.259766, -67.312500) " font-family="ArialUnicodeMS, Arial Unicode MS" font-size="100" font-weight="normal" fill="#4169E1">
                  <tspan x="46.2597656" y="107.3125">♊︎</tspan>
                </text>
              </g>
            </a>
            <a href="/sign/cancer">
              <g id="Cancer" transform="translate(609.000000, 231.000000)">
                <circle fill="#FFFFFF" cx="77.4580078" cy="76.7988281" r="76.5517578"></circle>
                <text id="♋︎" transform="translate(79.811523, 59.261719) rotate(75.000000) translate(-79.811523, -59.261719) " font-family="ArialUnicodeMS, Arial Unicode MS" font-size="100" font-weight="normal" fill="#4169E1">
                  <tspan x="51.8115234" y="99.2617188">♋︎</tspan>
                </text>
              </g>
            </a>
            <a href="/sign/leo">
              <g id="Leo" transform="translate(609.000000, 391.000000)">
                <circle fill="#FFFFFF" cx="76.5517578" cy="77.1494141" r="76.5517578"></circle>
                <text id="♌︎" transform="translate(92.223729, 66.917969) rotate(105.000000) translate(-92.223729, -66.917969) " font-family="ArialUnicodeMS, Arial Unicode MS" font-size="100" font-weight="normal" fill="#4169E1">
                  <tspan x="64.2237292" y="106.917969">♌︎</tspan>
                </text>
              </g>
            </a>
            <a href="/sign/virgo">
              <g id="Virgo" transform="translate(528.000000, 524.000000)">
                <circle fill="#FFFFFF" cx="77.2597656" cy="82.6240234" r="76.5517578"></circle>
                <text id="♍︎" transform="translate(101.259766, 67.742188) rotate(135.000000) translate(-101.259766, -67.742188) " font-family="ArialUnicodeMS, Arial Unicode MS" font-size="100" font-weight="normal" fill="#4169E1">
                  <tspan x="73.2597656" y="107.742188">♍︎</tspan>
                </text>
              </g>
            </a>
            <a href="/sign/libra">
              <g id="Libra" transform="translate(390.000000, 609.000000)">
                <circle fill="#FFFFFF" cx="76.5517578" cy="76.6083984" r="76.5517578"></circle>
                <text id="♎︎" transform="translate(91.736507, 82.093750) rotate(165.000000) translate(-91.736507, -82.093750) " font-family="ArialUnicodeMS, Arial Unicode MS" font-size="100" font-weight="normal" fill="#4169E1">
                  <tspan x="63.7365073" y="122.09375">♎︎</tspan>
                </text>
              </g>
            </a>
            <a href="/sign/scorpio">
              <g id="Scorpio" transform="translate(230.000000, 608.000000)">
                <circle fill="#FFFFFF" cx="77.2085977" cy="77.1728516" r="76.5517578"></circle>
                <text id="♏︎" transform="translate(95.500000, 92.269531) rotate(196.000000) translate(-95.500000, -92.269531) " font-family="ArialUnicodeMS, Arial Unicode MS" font-size="100" font-weight="normal" fill="#4169E1">
                  <tspan x="67.5" y="132.269531">♏︎</tspan>
                </text>
              </g>
            </a>
            <a href="/sign/sagittarius">
              <g id="Sagittarius" transform="translate(93.000000, 527.000000)">
                <circle fill="#FFFFFF" cx="77.0367227" cy="77.4462891" r="76.5517578"></circle>
                <text id="♐︎" transform="translate(74.036723, 88.972656) rotate(235.000000) translate(-74.036723, -88.972656) " font-family="ArialUnicodeMS, Arial Unicode MS" font-size="100" font-weight="normal" fill="#4169E1">
                  <tspan x="46.0367227" y="128.972656">♐︎</tspan>
                </text>
              </g>
            </a>
            <a href="/sign/capricorn">
              <g id="Capricorn" transform="translate(14.000000, 390.000000)">
                <circle fill="#FFFFFF" cx="77.4849649" cy="77.0556641" r="76.5517578"></circle>
                <text id="♑︎" transform="translate(78.036723, 98.195312) rotate(255.000000) translate(-78.036723, -98.195312) " font-family="ArialUnicodeMS, Arial Unicode MS" font-size="100" font-weight="normal" fill="#4169E1">
                  <tspan x="50.0367227" y="138.195312">♑︎</tspan>
                </text>
              </g>
            </a>
            <a href="/sign/aquarius">
              <g id="Aquarius" transform="translate(4.000000, 231.000000)">
                <circle fill="#FFFFFF" cx="87.4849649" cy="76.9541016" r="76.5517578"></circle>
                <text id="♒︎" transform="translate(73.036723, 92.652344) rotate(286.000000) translate(-73.036723, -92.652344) " font-family="ArialUnicodeMS, Arial Unicode MS" font-size="100" font-weight="normal" fill="#4169E1">
                  <tspan x="45.0367227" y="132.652344">♒︎</tspan>
                </text>
              </g>
            </a>
            <a href="/sign/pisces">
              <g id="Pisces" transform="translate(90.000000, 94.000000)">
                <circle fill="#FFFFFF" cx="80.0367227" cy="77.3701172" r="76.5517578"></circle>
                <text id="♓︎" transform="translate(67.410014, 76.957031) rotate(-45.000000) translate(-67.410014, -76.957031) " font-family="ArialUnicodeMS, Arial Unicode MS" font-size="100" font-weight="normal" fill="#4169E1">
                  <tspan x="39.4100136" y="116.957031">♓︎</tspan>
                </text>
              </g>
            </a>
          </g>
        </g>
      </g>
    </g>
  </svg>
</div>
<a href="/signs" class="home-find-myself-btn">SIGNS</a>
<a href="/api" class="home-api-btn">API</a>
