<% include ./partials/header.ejs %>
<section>
  <ul>
    <% for (let i = 0; i < signs.length; i++) { %>
       <li><a href="/sign/<%= signs[i].name.toLowerCase() %>"><%= signs[i].name %></a></li>
       <% } %>
  </ul>
</section>

<% include ./partials/footer.ejs %>
  
